body{
    background-color: azure;
}
@media all and (max-width: 480px){
    body{
        background-color: brown;
    }
}
@media all and (min-width: 480px) and (max-width: 768px){
    body{
        background-color: yellow;
    }
}
@media all and (min-width: 768px){
    body{
        background-color: teal;
    }
}